
.calculator {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('../../Assets/background/veggiestwo.jpg');
  background-attachment: fixed;
  height: auto;
  background-size: cover;
  color: #323232;
  padding: 150px 16px 16px 16px;
}