@import '../../partials/fonts';
@import '../../partials/variables';
@import '../../partials/mixins';


.calculator {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('../../Assets/background/veggiestwo.jpg');
  background-attachment: fixed;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  color: #323232;
  padding: 130px 16px 16px 16px;
  @include tablet {
    padding-top: 110px;
  }
  @include desktop {
    padding: 110px 24px 64px 24px;
  }
}