@import '../../partials/fonts';
@import '../../partials/variables';
@import '../../partials/mixins';

.table {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('../../Assets/background/veggiestwo.jpg');
  background-attachment: fixed;
  height: auto;
  background-size: cover;
  padding: 130px 16px 16px 16px;
  &__container {
    padding: 16px 5px 10px 5px;
    margin-bottom: 16px;
    @include cards;
  }
  &__row {
    display: flex;
    align-items: center;
    padding: 2px 0;
    justify-content: center; 
  }
  &__label {
    margin: 0;
    width: 75px;
  }
  &__add {
    width: 67%;
    font-family: 'Avenir-Demi';
    @include input-fields;
  }
  &__button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__create-button {
    width: 260px;
    height: 40px;
    margin: 16px auto;
    border: none;
    font-size: 20px;
    background-color: rgb(172, 236, 172);
    color: #323232;
    outline: none;
    &:disabled {
      color: #afafaf;
      background-color: #766D69; 
    }
  }
}