@import '../../partials/fonts';
@import '../../partials/variables';
@import '../../partials/mixins';

.input {
  @include cards;
  padding: 0 16px;
  color: #FAFAFA;
  margin: 10px auto 50px auto;
  @include desktop {
    width: 736px;
    display: flex;
    flex-direction: column;
    margin: 10px auto 50px 10px;
  }
  &__container {
    padding: 16px 0;
    border-bottom: 2px solid #FAFAFA;
  }
  &__select-input {
    @include tablet {
      display: flex;
    }
  }
  &__select {
    @include input-fields;
    height: 30px;
    background-color: #FAFAFA;
    color: rgba(32,32,32, 0.5);
    padding-left: 8px;
    font-family: 'Avenir-Demi';
    width: 80%;
    @include tablet {
      width: 16%;
      height: 40px;
      margin-right: 10px;
    }
  }
  &__input {
    @include input-fields;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 5px auto 0 0;
    @include tablet {
      width: 25%;
      margin: 0;
    }
  }
  &__nutrients-container {
    padding-top: 5px;
    @include tablet {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
    }
  }
  &__name {
    @include tablet {
      width: 170px;
    }
  }
  &__calories {
    @include tablet {
      width: 140px;
    }
  }
  &__protein {
    @include tablet {
      width: 110px;
    }
  }
  &__carbs {
    @include tablet {
      width: 100px;
    }
  }
  &__fat {
    @include tablet {
      width: 80px;
    }
  }
  &__name span {
    font-family: 'Avenir-Demi';
  }
}