@import '../../partials/fonts';
@import '../../partials/variables';
@import '../../partials/mixins';

.input {
  &__totals-container {
    padding: 16px 0;
  }
  &__totals-title {
    margin: 0;
  }
  &__totals-values {
    padding-top: 8px;
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__totals-nutrient {
    font-family: 'Avenir-Demi';
  }
}